@charset "utf-8";
	.st35
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st36
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st37
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 27px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st33
{
	font-family : 華康古印體;
	font-size : 20px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st13
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 26px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st15
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st16
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st14
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st12
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st17
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st22
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st20
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st10
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st9
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 24px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st23
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 17px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st8
{
	font-family : 華康古印體外字集;
	font-size : 17px;
	color : #F7F8F8;
	color : rgb(247, 248, 248);
}
.st6
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 17px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st4
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 24px;
	color : #F7F8F8;
	color : rgb(247, 248, 248);
}
.st5
{
	font-family : 華康古印體外字集;
	font-size : 17px;
	color : #F7F8F8;
	color : rgb(247, 248, 248);
}
.st3
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 17px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st11
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st2
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #F7F8F8;
	color : rgb(247, 248, 248);
}
.st1
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 21px;
	color : #F7F8F8;
	color : rgb(247, 248, 248);
}
.st7
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 17px;
	color : #F7F8F8;
	color : rgb(247, 248, 248);
}
.st31
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st34
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st19
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st24
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st21
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 27px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st25
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st30
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st26
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st29
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 24px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st18
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st32
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st27
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st28
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st39
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st40
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st43
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st42
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st38
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st41
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st44
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
