@charset "utf-8";
	.st185
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 24px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st178
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st181
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 24px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st183
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st180
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st162
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st81
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 24px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st151
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st146
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st147
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st125
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 25px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st80
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st153
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 30px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st149
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 28px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st150
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st144
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st121
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 23px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st122
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st148
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st118
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st152
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st119
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st127
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st138
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st123
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st93
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 28px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st135
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st126
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st139
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st124
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st91
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st96
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st129
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 28px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st137
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 28px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st92
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st128
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st90
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st136
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st85
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st115
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st111
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st116
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st107
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st83
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st114
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st112
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st113
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 27px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st120
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st103
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st108
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st117
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 25px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st105
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 27px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st110
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st109
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 28px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st57
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st54
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st59
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st35
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st36
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st56
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st55
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st61
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 25px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st62
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st63
{
	font-family : 華康古印體;
	font-size : 14px;
	line-height : 16px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st50
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st37
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st33
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st53
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 24px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st65
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 25px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st47
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st13
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st15
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st16
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st14
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st12
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 24px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st17
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 26px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st22
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st20
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st10
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st9
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st23
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 18px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st186
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st192
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st191
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st188
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st193
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 37px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st187
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st190
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st179
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st189
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 24px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st196
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st195
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st161
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 23px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st165
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st140
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st169
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 23px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st168
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st170
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st177
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 26px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st163
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st164
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st166
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st167
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st171
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st176
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st74
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st78
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st141
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 21px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st172
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st173
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 28px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st76
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st79
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st175
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st174
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st75
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st77
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 25px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st8
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 26px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st133
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 25px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st132
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st130
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st134
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st131
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st6
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st4
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st5
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st3
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st11
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st2
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st1
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st7
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st194
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st184
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st142
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st160
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st157
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st155
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st143
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st154
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st158
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st145
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 30px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st156
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st159
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st182
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st69
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 25px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st66
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st31
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st60
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st64
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st72
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st67
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st70
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st58
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st34
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st73
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 26px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st68
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st71
{
	font-family : 華康古印體;
	font-size : 14px;
	line-height : 16px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st94
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st84
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st89
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 24px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st102
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st97
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st86
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st106
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st82
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st99
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st101
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 27px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st88
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st95
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st104
{
	font-family : 華康古印體;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st98
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st100
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st87
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st19
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st24
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st21
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st25
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st30
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st26
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 26px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st29
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st18
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st32
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st27
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st28
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st52
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st39
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st45
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st48
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st51
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st49
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st40
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st43
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st42
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st38
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st46
{
	font-family : 華康古印體;
	font-size : 14px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
.st41
{
	font-family : 華康古印體;
	font-size : 17px;
	line-height : 22px;
	color : #231815;
	color : rgb(35, 24, 21);
}
.st44
{
	font-family : Adobe 明體 Std;
	font-size : 17px;
	color : #231815;
	color : rgb(35, 24, 21);
	text-outline : #231815;
	text-outline : rgb(35, 24, 21);
}
